<h1>It's a Cart!</h1>

<table>
	<tr>
		<th>Product</th>
		<th>Quantity</th>
		<th>Unit Price</th>
		<th>Total Price</th>
	</tr>
	<% for line_item in @orders, line_items %>
	<tr>
		<th><%= line_item.product.name %></th>
		<th><%= line_item.quantity %></th>
		<th><%= number_to_currency line_item.product.price %></th>
		<th><%= number_to_currency line_item.product.price * quantity %></th>
	</tr>
</table>