<h1><%= @product.name %></h1>

<p>
	<%= image_tag @product.image_url %>
</p>

<p>
	<%= button_to add_product_to_cart_path(@product), class: 'btn btn-success' do %>
	<span class="glyphicon glyphicon-shopping-cart"></span>
	Add to Cart
	<% end %>
</p>

<p>
	<%= link_to "back to products", products_path %>
</p>