<h1><%= @product.name %></h1>

<p>
	<%= image_tag @product.image_url %>
</p>

<p>
	<%= link_to "BUY NOW!", "#TODO", class: 'btn btn-success' %>
</p>

<p>
	<%= link_to "back to products", products_path %>
</p>